<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div style="padding: 2rem; overflow-x: hidden; overflow-y: auto; height: 100%; width: 100%;">

  <h3>Uh oh</h3>

  <div class="card-panel red accent-2">
    The article or category you were looking for could not be found. This may represent a bug in the game's help system.
    Please <a href="mailto:matt.eland@gmail.com" class="btn orange">contact us</a> with details on what happened.
  </div>
</div>
