<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div class="container blue-grey darken-3 z-depth-1" style="position: absolute; top: 2rem; left: 0; right: 0; bottom: 2rem;">

<!--
  <div style="position: absolute; right: -5.5rem; top: 0rem;">
    <em-inline-button iconName="play_arrow" [isAccent]="true" [title]="'Return to Game'" [link]="['/play']" style="display: block; margin-bottom: 1rem;" *ngIf="isInGame"></em-inline-button>
    <em-inline-button iconName="menu" [title]="'Main Menu'" [link]="['/menu']"></em-inline-button>
  </div>
-->

  <div style="position: absolute; top: 2rem; bottom: 2rem; left: 2rem; right: 2rem;">

    <div class="card grey darken-2 contents-panel">
      <div class="card-content">
        <div class="card-title"><h4>Help Topics</h4></div>
        <mat-expansion-panel *ngFor="let category of categories" [expanded]="selectedCategory === category"
                             (opened)="onCategoryOpened(category)" [hideToggle]="false">
          <mat-expansion-panel-header [class.active]="selectedCategory === category">
            <mat-panel-title>
              {{category.header}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="collection">
            <a class="collection-item white-text" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="getRoute(category)">Overview</a>
            <a class="collection-item white-text" *ngFor="let topic of category.topics | propertyOrder:'name'"
               routerLinkActive="active"
               [routerLink]="getRoute(topic)" [title]="topic.name">{{topic.name}}</a>
          </div>

        </mat-expansion-panel>

      </div>
      <div class="card-action" >
        <button class="btn-small darken-2 waves-light waves-ripple success-bg" style="margin-right: 1rem;" *ngIf="isInGame"
                title="Return to Game"
                autofocus type="button"
                [routerLink]="['/play']">
          <i class="material-icons left">play_arrow</i>
          Continue
        </button>
        <button class="btn-small grey darken-2 waves-light waves-ripple success-bg"
                title="Back to Main Menu"
                type="button"
                [routerLink]="['/menu']">
          <i class="material-icons left">menu</i>
          <span *ngIf="!isInGame">Back to </span>Menu
        </button>
      </div>
    </div>

    <div class="help-panel blue-grey darken-2 z-depth-1">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
