<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->
<!--<div class="hide-on-med-and-up">Small</div>-->
<!--<div class="hide-on-small-only hide-on-large-only">Medium</div>-->
<!--<div class="hide-on-med-and-down">Large</div>-->

<div *ngIf="slot"
     (click)="onClicked($event)"
     (mousemove)="onMouseMove($event)"
     (mouseleave)="onMouseLeave($event)"
  class="command-slot center-align hoverable"
     [title]="slot.command && !isSortable && !isMainUI ? slot.command.description : ''"
  [ngClass]="{'command-present': slot.command && enabled, 'selectable': isSelectable, 'selected': selected, 'command-absent': !slot.command || !enabled, 'main-ui': isMainUI, 'sort-ui': isSortable, 'slot-small': isSmall}">
  <div *ngIf="slot.shortcutKey" class="command-shortcut">{{slot.shortcutKey}}</div>
  <div *ngIf="slot.command">

    <div >
      <div class="hide-on-med-and-down" style="position: absolute; left: 0; right: 0; top: 6px;"><i class="material-icons small">{{slot.command.iconName}}</i></div>
      <div class="hide-on-large-only" style="position: absolute; left: 0; right: 0; top: 8px;"><i class="material-icons small">{{slot.command.iconName}}</i></div>
    </div>

    <div style="position: absolute; left: 0; right: 0; bottom: 12px;">
      <div class="hide-on-med-and-down" style="font-size: 18px;">{{slot.command.label}}</div>
      <div class="hide-on-large-only" style="font-size: 16px;">{{slot.command.label}}</div>
    </div>

    <div class="command-cost" [ngClass]="{'slot-small': isSmall}">{{slot.command.activationCostText}}</div>
    <div *ngIf="slot.command.isActive !== undefined" class="command-active" [ngClass]="{'active': slot.command.isActive === true}"></div>
  </div>
</div>
