<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

  <mat-tab-group style="position: absolute; left: 1rem; right: 1rem; bottom: 1rem; top: 1rem;" [dynamicHeight]="false">
    <mat-tab label="Commands">
      <em-command-management-screen></em-command-management-screen>
    </mat-tab>
    <mat-tab label="Inventory">
      <div style="width: 100%; height: 100%;">
        <p class="flow-text">Inventory will be implemented in a future release.</p>
      </div>
    </mat-tab>
    <mat-tab label="Features / Attributes">
      <div style="width: 100%; height: 100%;">
        <p class="flow-text">Features (Perks / Flaws on your character) will be implemented in a future release.</p>
      </div>
    </mat-tab>
    <mat-tab label="Stats">
      <div style="width: 100%; height: 100%;">
        <p class="flow-text">Stats will be implemented in a future release.</p>
      </div>
    </mat-tab>
  </mat-tab-group>
