/*!
 * Copyright (c) 2018 Matt Eland
 * Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
 */

ul {

  margin-top: 0;
  margin-bottom: 0;

  li {
    margin-left: 1rem;
    list-style-type: square;
  }

  li ul li {
    margin-left: 1rem;
    list-style-type: circle;
  }
}
