/*!
 * Copyright (c) 2018 Matt Eland
 * Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
 */

.help-text {
  font-size: 115%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  text-align: justify;
}
