/*!
 * Copyright (c) 2018 Matt Eland
 * Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
 */

td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
