/*!
 * Copyright (c) 2018 Matt Eland
 * Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
 */

.pad-sides {
  padding: 0 0.5rem 0.5rem;
  margin-top: 0.5rem;
}
