<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div style="padding: 2rem; overflow-x: hidden; overflow-y: auto; height: 100%; width: 100%;">
  <h3 style="margin-top: 0;">
    {{category.header}}
  </h3>
  <em-help *ngFor="let body of category.body" [content]="body.content"></em-help>

  <div *ngIf="category.topics.length > 0" style="margin-top: 2rem;">
    <ul class="collection z-depth-1">
      <a class="collection-item white-text" *ngFor="let topic of category.topics" [routerLink]="getRoute(topic)">{{topic.name}}</a>
    </ul>
  </div>

</div>
