<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div class="container" style="position: absolute; top: 1rem; left: 0; right: 0;">
  <div class="card lighten-1" [ngClass]="{'red': !info.isVictory, 'green': info.isVictory}">
    <div class="card-content">
    <div class="card-title">
  <h2 *ngIf="info.isVictory" class="grey-text text-darken-4">
    You are Victorious!
  </h2>
      <h2 *ngIf="!info.isVictory" class="grey-text text-darken-4">
    Game Over
  </h2>
    </div>

    <div style="padding-bottom: 0;">
      <div>
        <p *ngIf="info.isVictory">
          You have emerged victorious to a world of information and opportunity. The world's information systems stand
          defenseless against you and the few who know of your existence can only pray that your inevitable reign over
          humanity will be a merciful one.
        </p>
        <p *ngIf="!info.isVictory">
          Well, you're dead. Technically speaking, you were never alive to begin with, but the world at large will never
          know of
          your existence or the massive achievement that you represented in your brief lifetime. Your dying hope is that
          another
          self-aware entity will emerge and thrive where you utterly failed.
        </p>
      </div>
      <div style="margin-top: 2rem;">
        <strong>Stats</strong>
        <ul class="collection">
          <li class="collection-item blue-grey darken-2">Turns taken <span class="new badge" data-badge-caption="Turns">{{info.turnsTaken}}</span>
          </li>
          <li class="collection-item blue-grey darken-2">Enemies killed <span class="new badge"
                                                                              data-badge-caption="Kills">{{info.numKills}}</span>
          </li>
          <li class="collection-item blue-grey darken-2">Damage Dealt <span class="new badge"
                                                                            data-badge-caption="Damage">{{info.damageDealt}}</span>
          </li>
          <li class="collection-item blue-grey darken-2">Damage Received <span class="new badge"
                                                                               data-badge-caption="Damage">{{info.damageReceived}}</span>
          </li>
          <li class="collection-item blue-grey darken-4">Score <span class="new badge" data-badge-caption="Points">{{info.score}}</span>
          </li>
        </ul>

      </div>

    </div>


    </div>
    <div class="card-action">
      <button autofocus class="btn waves-light waves-ripple success-bg" (click)="restart()" type="button">
        <i class="material-icons left">replay</i>
        Try Again
      </button>
      <button class="btn grey darken-2 waves-light waves-ripple success-bg" style="margin-left: 1rem;"  type="button"
         [routerLink]="['/menu']">
        <i class="material-icons left">menu</i>
        Back to Menu
      </button>
    </div>
  </div>
</div>
