<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<main (window:focus)="onWindowFocused(true)"
      class="bg-image"
      (click)="onMainClick()"
      (mouseleave)="onMouseLeave()"
      (window:blur)="onWindowFocused(false)">
  <div class="full-height white-text"
       (window:resize)="onResize()"
       [style.height.px]="panelHeight"
       style="padding: 0; min-height: 560px;">
    <router-outlet></router-outlet>

    <div class="dialog-container" *ngIf="showDialog">

      <!-- Dialog Presenter -->
      <div class="dialog-panel grey darken-3">

        <!-- Close dialog button -->
        <span (click)="onCloseDialogClick($event)" style="position: absolute; right: 1rem; top: 0.5rem; z-index: 5; cursor: pointer; margin-top: 0.5rem; display: inline;" title="Return to the game"><i
          class="small material-icons">close</i></span>

        <router-outlet name="dialog"></router-outlet>
      </div>
    </div>

  </div>
</main>

