/*!
 * Copyright (c) 2018 Matt Eland
 * Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
 */

@mixin fullscreen($margin: 0, $marginTop: 0) {
  position: absolute;
  left: $margin;
  right: $margin;
  top: $marginTop;
  bottom: $margin;
}

.dialog-container {
  background: rgba(64, 64, 64, 0.5);
  z-index: 900;
  @include fullscreen(0, 0);
}

.dialog-panel {
  @include fullscreen(2rem, 5rem);
}

.bg-image {
  background: url(../assets/bg.png) no-repeat;
  background-size: cover;
}
