<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div style="padding: 2rem; overflow-x: hidden; overflow-y: auto; height: 100%; width: 100%;">

  <h3><i class="material-icons small">{{command.iconName}}</i> <span style="margin-left: -0.5rem;">{{command.name}}</span></h3>

  <p>{{command.description}}</p>

  <p *ngIf="isActive" style="margin-top: 1rem;">This is an active command that
    will incur an operations cost regularly until it is deactivated.</p>

  <p><strong>Activation Cost:</strong> {{command.activationCostText}}</p>

</div>
